header { margin-top: 40px; margin-bottom: 20px; }

header h1 { text-align: center; color: #999966; }

.box { width: 1200px; height: 200px; text-align: center; margin: 0 auto; }

.box h2 { color: #97694F; }

.box h3 { color: black; }

button { background-color: #ADEAEA; border: 2px solid transparent; border-radius: 6px; color: black; width: 150px; height: 50px; text-align: center; margin-top: 2rem; margin-left: 45%; font-size: 1rem; }

a { text-decoration: none; }

i { font-size: 2.5rem; color: #0066ff; margin-left: 48%; }
